
@tailwind base;
@tailwind components;
@tailwind utilities;


 @layer base{
  body {
    @apply font-[Inter];
  }
  p {
    @apply font-[Amita];
  }



  li{
    @apply px-4;
    @apply cursor-pointer;
    @apply hover:scale-110 hover:text-white duration-200;
  }

 }

 .content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
 }

 .content-div:hover{
  animation-duration: 400ms;
  background-image: linear-gradient(
    to right,
    rgba(112, 157 ,255 ,0.8),
    hsla(242, 74%, 61%, 0.8)
  )!important;
 }

 .nav-link{
  text-decoration: none;
 }



